* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  font-family: "Poppins", sans-serif;
}

.nav-container {
  display: flex;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 49x 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.4s;
}

.nav-container.active {
    background-color: #000000d3;
}

.nav-container.active ul li a {
    color: #ffffff;
}

.nav-container ul {
  display: flex;
  list-style-type: none;
}

.nav-container ul li a {
  text-decoration: none;
  margin: 0 1rem;
  color: #6b7280;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.15s ease-out;
}

.nav-container ul li a:hover {
  color: #111827;
}

.main-container {
  height: 100%;
  background-image: url("background-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container h1 {
  color: #ffffff;
  font-size: 3rem;
  letter-spacing: 0.05rem;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.section-container .text {
    margin: 4rem 5%;
}
